.s-post-status-badge {
  &.nut-tag {
    padding: 3px 10px;
    border-radius: var(--radius-full);
    font-size: 11px;
    line-height: 1.2;
    font-weight: 700;
    white-space: nowrap;
    border: none;
    display: inline-flex;
    align-items: center;
  }
}
